<div>
  <button (click)="addUser()">Add Andy</button>
</div>
<app-user-list [users]="users" [counter]="0"></app-user-list>

<h1>範例來源</h1>
<ul>
  <li><a href="https://www.youtube.com/watch?v=U8YXaWwyd9k" target="_blank">影片: https://www.youtube.com/watch?v=U8YXaWwyd9k</a></li>
  <li><a href="https://github.com/DMezhenskyi/angular-signal-inputs/tree/main/src/app" target="_blank">GitHub: https://github.com/DMezhenskyi/angular-signal-inputs/tree/main/src/app</a></li>
</ul>

<h2>Input Signal</h2>
<ul>
  <li><a href="https://angular.dev/api/core/InputSignal?tab=description" target="_blank">https://angular.dev/api/core/InputSignal?tab=description</a></li>
  <li><a href="https://blog.angular.io/signal-inputs-available-in-developer-preview-6a7ff1941823" target="_blank">https://blog.angular.io/signal-inputs-available-in-developer-preview-6a7ff1941823</a></li>
  <li><a href="https://chat.openai.com/share/6ec54161-03dc-4e6f-aba9-d1b52869bf60" target="_blank">https://chat.openai.com/share/6ec54161-03dc-4e6f-aba9-d1b52869bf60</a></li>
  <li><a href="https://angularexperts.io/blog/angular-signal-inputs" target="_blank">https://angularexperts.io/blog/angular-signal-inputs</a></li>
</ul>
